*{
    margin: 0;
    padding: 0;
    height: 78%;
    background-color: blanchedalmond;
}
.ho0a img{
    height: 30vh;
    display: block;
    margin: auto;
    width: 100%;
}
.text p{
    font-size: 34px;
    text-align: right;
    margin-top: 63px;
    padding: 10px;
}
.myButton {
	background-color: #7e827f;
    border-radius: 13px;
    display: inline;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 34px;
    padding: 22px 86px;
    text-decoration: none;
    text-shadow: -17px 1px 28px #2f6627;
}
.myButton:hover {
	background-color:#71756f;
}
.myButton:active {
	position:relative;
	top:1px;
}